<h1>User login</h1>

<%= form_with model: @user, scope: :login do |form| %>
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email' %>
    <%= form.label :password %>
    <%= form.password_field :password %>
    <%= form.submit "Login" %>
<% end %>