<div class="text-field">
  <%= edit_duty.label :duty_name %>
  <%= edit_duty.text_field :duty_name %>
</div>

<div class="text-field">
  <%= edit_duty.label :venue %>
  <%= edit_duty.text_field :venue %>
</div>

<div class="text-field">
  <%= edit_duty.label :start_date_time %>
  <%= edit_duty.datetime_local_field :start_date_time %>
</div>

<div class="text-field">
  <%= edit_duty.label :end_date_time %>
  <%= edit_duty.datetime_local_field :end_date_time %>
</div>

<div class="text-field">
  <%= edit_duty.label :contact_person %>
  <%= edit_duty.text_field :contact_person %>
</div>

<div class="text-field">
  <%= edit_duty.label :contact_number %>
  <%= edit_duty.text_field :contact_number %>
</div>

<div class="submit-field">
    <%= edit_duty.submit %>
</div>