<div class="container">
    <h1>Duty Details</h1>

    <% if @duty.user_id == current_user.id #&& current_user.role == "Administrator" %>
        <div id="" class="">
            <%= link_to  "Edit Duty", edit_duty_path(@duty.id) %>
        </div>
        <div id="" class="">
            <%= link_to  "Delete Duty", duty_path(@duty.id), method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
    <% end %>

    <div id="" class="">
        <%= @duty.duty_name %>
    </div>

    <div id="" class="">
        <%= @duty.venue %>
    </div>

    <div id="" class="">
        <%= @duty.start_date_time %>
    </div>

    <div id="" class="">
        <%= @duty.end_date_time %>
    </div>

    <div id="" class="">
        <%= @duty.contact_person %> - 
        <%= @duty.contact_number %>
        
    </div>

    <div id="" class="">
        <%= @duty.user.name %>
    </div>

    <div id="" class="">
        <%= @duty.updated_at %>
    </div>
</div>